In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [12]:
# Load the dataset
data = pd.read_csv("/Users/estefanos/Desktop/Autoencoder_Grpoup2Project/HIV_ML_ART/NRTI_stanford.csv")

# Rename the first column
data.rename(columns={data.columns[0]: "SeqID"}, inplace=True)

# Identify and remove rows with missing values in drug-related columns
missing_vals = set()
for i in range(len(data)):
    for j in range(9, len(data.columns)):
        if data.iloc[i, j] == '.' or pd.isna(data.iloc[i, j]):
            missing_vals.add(data.iloc[i, 0])

data_new = data[~data["SeqID"].isin(missing_vals)]

In [13]:
data_new.head()

,SeqID,3TC,ABC,AZT,D4T,DDI,TDF,P1,P2,P3,...,P231,P232,P233,P234,P235,P236,P237,P238,P239,P240
0,2997,200.00,4.3,3.9,1.4,1.2,NaN,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,4427,1.40,1.1,28.0,1.0,0.8,1.9,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,4487,1.80,1.5,7.1,1.2,1.1,1.1,-,-,-,...,-,-,-,-,-,-,-,-,-,-
5,4663,200.00,7.1,0.8,1.3,1.9,NaN,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,4689,2.55,5.2,6.7,5.4,5.3,0.9,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [6]:
# Separate by drugs
ttc = data_new.dropna(subset=["3TC"])
abc = data_new.dropna(subset=["ABC"])
azt = data_new.dropna(subset=["AZT"])
dft = data_new.dropna(subset=["D4T"])
ddi = data_new.dropna(subset=["DDI"])
tdf = data_new.dropna(subset=["TDF"])

In [8]:
# Assign resistance classification function
def assign_resistance(df, column_index):
    resistance_values = [1 if val >= 3.5 else 0 for val in df.iloc[:, column_index]]
    df["resistant"] = resistance_values
    return df

In [9]:
# Apply resistance classification
ttc = assign_resistance(ttc, 1)
abc = assign_resistance(abc, 1)
azt = assign_resistance(azt, 1)
dft = assign_resistance(dft, 1)
ddi = assign_resistance(ddi, 1)
tdf = assign_resistance(tdf, 1)

/var/folders/mn/wmpsqrls23388dhy552wmn200000gn/T/ipykernel_71437/3604334074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["resistant"] = resistance_values
/var/folders/mn/wmpsqrls23388dhy552wmn200000gn/T/ipykernel_71437/3604334074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["resistant"] = resistance_values
/var/folders/mn/wmpsqrls23388dhy552wmn200000gn/T/ipykernel_71437/3604334074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["resistant"] = resistance_values
/var/folders/mn/wmpsqrls23388dhy552wmn200000gn/T/ipykernel_71437/3604334074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["resistant"] = resistance_values
/var/folders/mn/wmpsqrls23388dhy552wmn200000gn/T/ipykernel_71437/3604334074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["resistant"] = resistance_values
/var/folders/mn/wmpsqrls23388dhy552wmn200000gn/T/ipykernel_71437/3604334074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["resistant"] = resistance_values

In [11]:
ttc.head()

,SeqID,3TC,ABC,AZT,D4T,DDI,TDF,P1,P2,P3,...,P232,P233,P234,P235,P236,P237,P238,P239,P240,resistant
0,2997,200.00,4.3,3.9,1.4,1.2,NaN,-,-,-,...,-,-,-,-,-,-,-,-,-,1
2,4427,1.40,1.1,28.0,1.0,0.8,1.9,-,-,-,...,-,-,-,-,-,-,-,-,-,0
3,4487,1.80,1.5,7.1,1.2,1.1,1.1,-,-,-,...,-,-,-,-,-,-,-,-,-,0
5,4663,200.00,7.1,0.8,1.3,1.9,NaN,-,-,-,...,-,-,-,-,-,-,-,-,-,1
6,4689,2.55,5.2,6.7,5.4,5.3,0.9,-,-,-,...,-,-,-,-,-,-,-,-,-,0